@media screen and (max-width: 767px) {
  .transactionViewBar {
    padding-top: 20px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .transactionViewGeneral {
    position: relative;
    height: 570px;
  }
}

@media screen and (min-width: 768px) {
  .transactionViewBar {
    padding-top: 40px;
    margin-bottom: 58px;
    text-align: right;
  }

  /* .transactionViewGeneral {
    position: relative;
    height: 570px;
  } */
}

@media screen and (min-width: 1280px) {
  .transactionViewBar {
    padding-top: 40px;
    margin-bottom: 9px;
  }
}
