@media screen and (max-width: 767px) {
  .tabsContainer {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
  }

  .tabButton {
    margin: 0;
    width: 100%;
    height: 45px;

    font-weight: bold;
    font-size: 12px;
    line-height: 14px;

    letter-spacing: 0.02em;
    text-transform: uppercase;
    background-color: #f1f1f1;
    border: none;
    color: inherit;

    cursor: pointer;
    transition: color 250ms linear;
  }

  .tabButton:not(:last-of-type) {
    margin-right: 2px;
  }

  .activeButton {
    background-color: #ff751d;
    color: #fff;
  }
}

@media screen and (min-width: 768px) {
  .tabsContainer {
    display: block;
  }

  .counterTabContainer {
    padding: 30px 30px 48px 30px;
  }

  .tabButton {
    margin: 0;
    padding: 14px 48px;

    font-weight: bold;
    font-size: 12px;
    line-height: 14px;

    letter-spacing: 0.02em;
    text-transform: uppercase;
    background-color: #f1f1f1;
    border-radius: 20px 20px 0 0;
    border: none;
    color: inherit;

    cursor: pointer;
    transition: color 250ms linear;
  }

  .tabButton:hover {
    color: #ff751d;
  }

  .activeButton {
    background-color: #fafbfd;
    color: #ff751d;
  }

  .counterTabContainer {
    background-color: #fff;
    border-radius: 0px 30px 30px 30px;
  }
}

@media screen and (min-width: 1280px) {
  .counterTabContainer {
    padding: 33px 20px 60px 20px;
  }
}
