/* @media screen and (max-width: 767px) {
  .categoryInput {
    background-color: #f5f6fb;
    border: 2px solid #fff;
  }
} */

.categoryInput {
  display: block;
  padding: 13px;
  width: 100%;
  height: 44px;
  background-color: #f5f6fb;
  border: 2px solid #fff;
  border-bottom: 1px solid #fff;
  border-radius: 16px 16px 0px 0px;
  outline: none;
}

@media screen and (min-width: 768px) {
  .categoryInput {
    width: 191px;
    background-color: #fff;
    border-radius: 16px 0px 0px 0px;
  }

  .categoryInput {
    /* padding: 13px; */

    border: none;
    border: 2px solid #f5f6fb;
    border-right: none;
  }
}

@media screen and (min-width: 1280px) {
  .categoryInput {
    width: 290px;
  }
}
